body {
  background-color: #222;
  color: #ccc;
  margin: 0;
}
.circle {
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
}
#zone {
  position: absolute;
  pointer-events: none;
}
.pink {
  background: #f0f;
}
.green {
  background: rgba(0, 255, 0, 0.2);
}
#video, #canvas {
  display:inline;
  position: absolute;
  z-index: -2;
}
#canvas {
  z-index: -1;
}
.inline {
  display: inline;
}
.range {
  width: 4em;
  color: #eee;
  background: #111111AA;
}
#content {
  display: block;
  text-align-last: center;
}
.button {
  margin: 0.25em;
}
.settingsPanel {
  display: block;
  position: absolute;
  background-color: #11111199;
  padding: 1em;
  z-index: 1;
}